# -----------------------------
# TRIGGER
# Подточка A: Стартира само при промени в DemoService/
# -----------------------------
trigger:
  branches:
    include:
      - main
  paths:
    include:
      - DemoService/**

# -----------------------------
# STAGES
# -----------------------------
stages:

  # ======================================
  # 1) BUILD STAGE
  # ======================================
  - stage: Build
    displayName: "Build .NET App"
    jobs:
      - job: BuildJob
        displayName: "Build Job"
        pool:
          vmImage: "ubuntu-latest"

        steps:
          - task: UseDotNet@2
            inputs:
              version: "8.0.x"

          - script: dotnet restore DemoApp.sln
            displayName: "Restore dependencies"

          - script: dotnet build DemoApp.sln --configuration Release
            displayName: "Build Solution"

          # Подточка C: Publish за deploy (Release build)
          - script: dotnet publish DemoService/DemoService.csproj -c Release -o $(Build.ArtifactStagingDirectory)/app
            displayName: "Publish output"

          # Подточка C: публикуване на артефакт
          - task: PublishBuildArtifacts@1
            inputs:
              pathToPublish: "$(Build.ArtifactStagingDirectory)"
              artifactName: "drop"
              publishLocation: "Container"


  # ======================================
  # 2) TEST STAGE
  # Подточка B: Тестовете са отделен STAGE след Build
  # ======================================
  - stage: Test
    displayName: "Run Unit Tests"
    dependsOn: Build

    jobs:
      - job: TestJob
        displayName: "Unit Test Job"
        pool:
          vmImage: "ubuntu-latest"

        steps:
          - task: UseDotNet@2
            inputs:
              version: "8.0.x"

          - script: dotnet test DemoService.Tests/DemoService.Tests.csproj --logger trx
            displayName: "Execute unit tests"


  # ======================================
  # 3) DEPLOY TO STAGING
  # ======================================
  - stage: Deploy_Staging
    displayName: "Deploy to Staging"
    dependsOn: Test

    jobs:
      - job: DeployStaging
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - download: current
            artifact: drop

          - script: |
              echo "Simulating deployment to STAGING environment"
              echo "Files from build:"
              ls $(Pipeline.Workspace)/drop/app
            displayName: "Deploy Script"

A
A
A
A

